*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.game-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1em;
}

.box-container {
  width: 20em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin: 2em 0;
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid rgb(68, 68, 68);
  font-size: 4rem;
  color: black;
}

.new-game {
  margin: 2em 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
